body {    
    font-family: 'Merienda', cursive;
    font-size: 30px;
    text-align: center;
    color: #0cebff;
    background: url(img/page-back.jpg);
    background-size: cover;
}

#main {
    margin: 0px 0px 0px 0px;
}

#landing {
    height: 100vh;
    background-image: url(img/dark-night-fulfl.jpg);
    background-size: cover;
    z-index: -5;    
}

#focus {
    position: absolute;
    top: 12%;
    left: 15%;
    border: teal 0px solid;
    text-align: left;
    text-shadow: 3px 3px 8px black;
}

#focus #land_text {
    position: relative;
}
#focus #name {
    color: white;
    font-size: 280%;
    font-weight: lighter;
    line-height: .7em;
    letter-spacing: 0px;
}

#focus #first {
    padding-left: 35px;
    padding-top: 5px;
}

#focus #tag {
    font-size: 130%;
    color: #C0C0C0;
    position: relative;
    bottom: 50px;
    left: 30px;
}

#focus #soft {
    position: static;
}

#focus #dev {
    position: static;
}

#header {
    position: relative;
    background: none;
    font-weight: bolder;
}

#header #skills-jump {
    position: absolute;
    top: 20px;
    right: 100px;
    font-size: 25px;
}

#header #projects-jump {
    position: absolute;
    top: 20px;
    right: 250px;
    font-size: 25px;
}

#main {
    margin: 30px 10% 0px 10%;
}
#skills {
    border: 0px #60aedb dashed;
    margin: 20% 10% 20% 10%;
    padding: 100px 0px 200px 0px;
}

#skills #my-skills {
    text-decoration: underline;
}

#skill #exp {
    position: relative;
    bottom: 25px;
}

#skills #skill-imgs {
    position: relative;
    bottom: 20px;
    letter-spacing: 32px;
}

#skills #skill-text {
    position: relative;
    bottom: 52px;
    right: 6px;
    word-spacing: 25px;
    font-size: 60%
}

#skills #skill-text #python {
    position: relative;
    left: 12px;
}

#footer {
    position: relative;
    background :#02020a;
    height: 40px;
    padding: 15px 0px 7px 0px;
    border: 1px dashed black;
}

#github {
    position: absolute;
    left: 100px;
    bottom: 2px;
    font-size: 15px
}

#linkedin {
    position: absolute;
    left: 225px;
    bottom: 2px;
    font-size: 15px;
}

#copyright {
    font-size: 8px;
}

a:link, a:visited {
    color: #0cebff;
    text-decoration: none;
}

a:hover {
    color: white;
}