html {
    scroll-behavior: smooth;
}

body {    
    font-family: 'Montserrat', cursive;
    font-size: 30px;
    text-align: center;
    color: #0cebff;
    background: url(img/page-back.jpg);
    background-size: cover;
}

#main {
    margin: 0px 0px 0px 0px;
}

#landing {
    height: 100vh;
    background-image: url(img/dark-night-fulfl.jpg);
    background-size: cover;
    z-index: -5;    
}

#focus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.5);
    padding: 75px 0px 200px 0px;
    width: 85%;
    height: 50%;
    border-left: 5px #0cebff inset;
    border-right: 5px #0cebff inset;
    border-radius: 50px;
}

#focus #name {
    color: white;
    font-size: 220%;
    font-weight: 900;
    line-height: .7em;
    letter-spacing: 0px;
    text-decoration: underline;
}

#focus #name #first {
    color: #0cebff;
    position: relative;
    left: 12px
}

#focus #resume-button {
    position: relative
}

#header #skills-jump {
    position: absolute;
    top: 35px;
    right: 210px;
    font-size: 20px;
    font-weight: lighter;
}

#header #projects-jump {
    position: absolute;
    top: 35px;
    right: 350px;
    font-size: 20px;
    font-weight: lighter;
}

#landing #bio {
    font-size: 24px;
    color: #C0C0C0;
    width: 800px;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    position: relative;    
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landing #city {
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

#main {
    margin: 30px 10% 0px 10%;
}

#skills {
    border: 0px #60aedb dashed;
    margin: 20% 7% 20% 7%;
    padding: 75px 0px 200px 0px;
    border-left: 5px #0cebff inset;
    border-right: 5px #0cebff inset;
    border-radius: 50px;
    background: rgba(0, 0, 0,0.6)
    
}

#skills #my-skills {
    text-decoration: underline;
}

#skill #exp {
    position: relative;
    bottom: 25px;
}

#skills #skill-imgs {
    position: relative;
    bottom: 20px;
    letter-spacing: 32px;
}

#skills #skill-text {
    position: relative;
    bottom: 52px;
    right: 6px;
    word-spacing: 25px;
    font-size: 60%;
    font-weight: lighter;
}

#skills #skill-text #python {
    position: relative;
    left: 12px;
}

#footer {
    position: relative;
    background :#02020a;
    height: 40px;
    padding: 15px 0px 7px 0px;
    border: 1px dashed black;
}

#github {
    position: absolute;
    left: 100px;
    bottom: 2px;
    font-size: 15px
}

#linkedin {
    position: absolute;
    left: 225px;
    bottom: 2px;
    font-size: 15px;
}

#copyright {
    font-size: 8px;
}

a:link, a:visited {
    color: #0cebff;
    text-decoration: none;
}

a:hover {
    color: white;
}