html {
    scroll-behavior: smooth;

}

body {    
    font-family: 'Montserrat', cursive;
    text-align: center;
    color: black;
    background: url(img/black-page-back.jpg);
    background-size: cover;
    background: white !important;
}

p {
    font-size: 16px;
    font-size: 1.1vw;
}

h1 {
    font-size: 20px;
    font-size: 3.0vw;
}

h2 {
    font-size: 25px;
    font-size: 3.2vw;
}

h3 {
    font-size: 15px;
    font-size: 2.1vw;
}

ul img {
    margin: 0px 5px 0px 0px;
}

.title {
    color: #0cebff;
    font-weight: 100;
    font-size: 20px;
    font-size: 3.3vw;
    font-family: 'Bowlby One SC', cursive;
}

.first {
    color: white;
    position: relative;
    left: 12px
}

.container {
    margin: 0% 0% 0% 0%;
    border-left: 3px black solid;
    border-right: 3 black solid;
}

#header #skills-jump {
    position: absolute;
    top: 3%;
    left: 4%; 
    margin: 2px 2px 2px 2px;
}

#header #projects-jump {
    position: absolute;
    top: 3%;
    left: 14%;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 2px 0px 2px;
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    z-index: -5; 
    background: url(img/space-back.jpg);
    background-size: cover;
}

#focus {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: rgba(0, 0, 0,0);
    width: 70%;
    height: 50%;
    border-radius: 50px;
}

#focus #bio {
    font-size: 12px;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    letter-spacing: 0.005em;
    line-height: 2em;
    max-width: 75%;
    background: rgba(0, 0, 0,0.0);
    border-left: white 5px outset;
    border-radius: 20px;
    text-shadow: 2px .7px 15px black;
    padding: 0px 0px 20px 20px;
    flex: 2;
}

#focus #logo {
    width: 120%;
    flex: 1.5;
    margin-right: -13%;
}

#focus #name {
    color: #0cebff;
    font-weight: 900;
    line-height: .7em;
    letter-spacing: 0px;
    border-bottom: #0cebff inset 4px;
    padding: 0px 0px 5px 0px;
    width: 68%;
}

#icons {
    border: 0px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: row;

}

#focus #resume-button {
    border: 0px solid white;
    display: inline-flex;
}

#focus #email {
    border: 0px solid white;
    display: inline-flex;
    width: 70%;
}

#focus #github {
    border: 0px solid white;
    display: inline-flex;
    margin-left: -20%
}

#focus #linkedin {
    border: 0px solid white;
    display: inline-flex;
}

#aboutme {
    display: flex;
    padding: 5px 0px 0px 0px;
    background: #575960;
    text-align: center;
    justify-content: center;
    color: black;
    height: 115vh;
}

#aboutme .title {
    color: #0cebff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 450%;
    margin-bottom: 6%;
    margin-top: 15%;
    text-shadow: -5px 6px 10px black;
}

#aboutme .subtitle {
    font-family: 'Bowlby One SC', cursive;
    color: #0cebff;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    text-shadow: -2px 4px 8px black;
}

#aboutme #skills {
    line-height: 1.4em;
    margin: 0% 15% 5% 15%;
    padding: 2% 5% 0% 5%;
}

#skill-blurb {
    position: relative;
    left: 11%;
    width: 80%;
    margin-bottom: 5%;
    padding-bottom: 2%;
    border-bottom: 3px #222 inset;
    font-weight: 700;
}

#skills li {
    list-style-type: disc;
    font-size: 120%;
    letter-spacing: .01em;
    line-height: 25px;
    color: black;
    width: 15em;
    text-align: left;
    font-weight: 900;
}

#skill-lists {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    height: 35%;
}

#skill-lists h3 {
    border-bottom: 4px black outset;
    padding-bottom: 35px;
    margin-bottom: -1px;
}

#skills #lang {
    position: static;
    margin-right: -100px;
    padding: 1% 5% 0% 5%;
    border-right: 6px solid black;
    border-left: 6px solid black;
    border-radius: 30px;
    background: white;
    box-shadow: -4px 7px 30px black;
}

#skills #tools {
    position: static;
    margin-left: -100px;
    padding: 1% 5% 0% 5%;
    border-left: 6px solid black;
    border-right: 6px solid black;
    border-radius: 30px;
    background: white;
    box-shadow: -4px 7px 30px black;
}

#projects {
    position: relative;
    padding: 75px 0px 0px 0px;
    background: rgba(0, 0, 0,0.6); 
}

.proj-box {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 40%;
    color: #0cebff;
}
.proj-title {
    position: relative;
    top: 360px;
    left: 80px;
    font-size: 1.5em;
    text-align: left;
}

.proj-blurb {
    position: relative;
    color: #0cebff;
    bottom: 75px;
    left: 80px;
    font-size: 3px;
    text-align: left;
}

#proj-sort {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px white solid;
}

.proj-img {
    width: 80%;
}

#copyright {
    font-size: 12px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #0cebff;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    }

body {
    opacity: 1;
    transition: 1.5s;
}

body.fade {
    opacity: 0;
    transition: none;
}
